<!DOCTYPE html>
<html>
    <head>
        <!--Head tag contains meta data for the rest of the document-->
        <meta charset="UTF-8">
        <!--Meta tag defines the character type-->
        <Title>Test Page</Title>
        <!--Title Tag defines the title of the document. This is REQUIRED for your HTML document to be verified-->
        <link rel="stylesheet" href="style.css">
        <!--link tag adds stylesheet to testpage-->
    </head>

    <body>
        <h1>
            This is a test header
        </h1>
        <p>
            This page exists as a test page to try out new HTML elements. Thank you.
        </p>
        <a href=home.html>Home</a>
    </body>
</html>