<!DOCTYPE html>
<html>
    <head>
        <!--Head tag contains meta data for the rest of the document-->
        <meta charset="UTF-8">
        <!--Meta tag defines the character type-->
        <Title>Yellow Croccer - About</Title>
        <!--Title Tag defines the title of the document. This is REQUIRED for your HTML document to be verified-->
        <link rel="stylesheet" href="style.css">
        <!--link tag adds stylesheet to testpage-->
    </head>

    <body>
        <div class='topnav'>
            <a href = 'index.html'>Home</a>
            <a href = 'portfolio.html'>Portfolio</a>
            <a href = 'about.html'>About</a>
        </div>
        
        <div class='row'>
            <div class='column left'></div>
            
            <div class='column middle'>
                <div>
                    <h1 class='name'>Yellow Croccer</h1>
                </div>

                <div class= about_container>
                    <p><img class='profile' src='../images/Profile.jpg' alt='Croccin Face'>
                    Howdy! I'm Jeremiah, an amateur artist, runner, and gamer. I have a love for shounen managa and itss muscular figures which has led me down the dark path I tread to this day. I'm a huge fan of Murata-sensei, the artist of Onepunch-Man and I greatly admire his detailed shading work, extremely expressive figures, and overall artistic ability. I hope someday that I can become an artist of that caliber and creativity. Currently, my favorite mediums are pencil and pen, and I detest stipiling. Nice to meet you, please enjoy the site.
                    </p>
                </div>
                <div class='contact'>
                    <p> contact list</p>
                </div>
            </div>
            
            <div class='column right'></div>
        </div>

        <footer class='footer'>
            <p>Jeremiah Lam 2020</p>
        </footer>
    </body>
</html>