<!DOCTYPE html>
<html>
    <head>
        <!--Head tag contains meta data for the rest of the document-->
        <meta charset="UTF-8">
        <!--Meta tag defines the character type-->
        <Title>Yellow Croccer - About</Title>
        <!--Title Tag defines the title of the document. This is REQUIRED for your HTML document to be verified-->
        <link rel="stylesheet" href="style.css">
        <!--link tag adds stylesheet to testpage-->
    </head>

    <body>
        <div class='topnav'>
            <a href = 'index.html'>Home</a>
            <a href = 'portfolio.html'>Portfolio</a>
            <a href = 'about.html'>About</a>
        </div>
        
        <div class='row'>
            <div class='column left'></div>
            
            <div class='column middle'>
                <div>
                    <h1 class='name'>Yellow Croccer</h1>
                </div>
            </div>
            
            <div class='column right'></div>
        </div>

        <footer class='footer'>
            <p>Jeremiah Lam 2020</p>
        </footer>
    </body>
</html>