<!DOCTYPE html>
<html>
    <head>
        <Title>Portfolio Website</Title>
        <meta charset=UTF-8>
        <link rel='stylesheet' href='style.css'>

    </head>
    <body>
        <header>
            <ul id='menu'>
                <li><a href = 'home.html'>Home</a></li>
                <li><a href = 'portfolio.html'>Portfolio</a></li>
                <li><a href = 'about.html'>About</a></li>
            </ul>
        </header>
        <a href = 'portfolio.html'>Portfolio</a>
        <a href = 'test.html'>Test Page</a>
    </body>
</html>