<!DOCTYPE html>
<html>
    <head>
        <Title>Yellow Croccer</Title>
        <meta charset=UTF-8>
        <link rel='stylesheet' href='style.css'>

    </head>
    
    <body>
        <div class='topnav'>
            <a href = 'index.html'>Home</a>
            <a href = 'portfolio.html'>Portfolio</a>
            <a href = 'about.html'>About</a>
        </div>
        
        <div class='row'>
            <div class='column left'></div>
            
            <div class='column middle'>
                <div>
                    <h1 class='name'>Yellow Croccer</h1>
                </div>
                <div class='home'>
                    <a target='_blank' href="../images/home_pic.jpg">
                        <img class='home_pic' src='../images/home_pic.jpg' alt="Croccin Off">
                    </a>
                    <h1 class='home_text'>A site to host some mediocre art.</h1>
                </div>

            </div>
            
            <div class='column right'></div>
        </div>

        <footer class='footer'>
            <p>Jeremiah Lam 2020</p>
        </footer>
        
    </body>
</html>