<!DOCTYPE html>
<html>
    <head>
        <Title>Yellow Croccer - Portfolio</Title>
        <link rel='stylesheet' href='style.css'>
    </head>
    <body id='portfolio'>
        <div class='topnav'>
            <a href = 'index.html'>Home</a>
            <a href = 'portfolio.html'>Portfolio</a>
            <a href = 'about.html'>About</a>
        </div>
        
        <div class='row'>
            <div class='column left'></div>
            
            <div class='column middle'>
                <div>
                    <h1 class='name'>Yellow Croccer</h1>
                </div>

                <div class ='gallery'>
                    <a target="_blank" href="../images/Despair2017_cropped.jpg">
                        <img src="../images/Despair2017_cropped.jpg" alt="Calvin's Despair">
                    </a>
                    <div class="desc">Calvin's abhorrance for continuous study inspired me to draw this.</div>
                </div>
                
                <div class ='gallery'>
                    <a target="_blank" href="../images/KingKong2018.jpeg">
                        <img src="../images/KingKong2018.jpeg" alt="King Kong">
                    </a>
                    <div class="desc">The turns have tabled.</div>
                </div>


            </div>
            
            <div class='column right'></div>
        </div>

        <footer class='footer'>
            <p>Jeremiah Lam 2020</p>
        </footer>

    </body>
</html>