<!DOCTYPE html>
<html>
    <head>
        <title>Testing Page</title>
    </head>
    <body>
        <h1 style = "font-size:100px"> <!--It seems CSS sheets will be a more effective way to change the graphics-->
            Heading
        </h1>
        <p>
            This is a body of text to introduce a link. <br>
            <a href='https://ultimateframedata.com/link.php'>Hiyah!</a> <br>
                        
        </p>
        <p style="color:rgb(255, 99, 71)" title="Link no!">reddle me this princess</p>
        <img src='../images/lonk.jpg' alt='Excuse me princess' title = 'Excuse me princess'> <br> 
<!--Double quotes only matter if there is a single quote within-->
<!--id tag specifies a unique id for an element-->
        <ol>
            <li>Breath of the Wild</li>
            <li>Windwaker</li>
            <li>Twilight</li>
        </ol>

        <ul>
            <li>Lonlon Ranch</li>
            <li>Zora River</li>
            <li>Death Mountain</li>
        </ul>
        
        <button>Bomb Juggle</button>


    </body>
</html>