<!DOCTYPE html>
<html>
    <head>
        <title>Testing Page with Legend of Zelda related content</title>
        <meta charset = "UTF-8">
    </head>
    <body style="background-color: rgb(215, 253, 139);">
        <h1 style = "font-family:fantasy"> <!--Style is a CSS property and the value is a CSS value-->
            Link Heading
        </h1>
        <hr>
        <p style = "text-align: center;">
            This is a <del>body of text to introduce</del> a link. <br>
            <a href='https://ultimateframedata.com/link.php'><b>Hiyah!</b></a> <br>
            <p>Here is a short quote from wikipedia on <abbr>BOTW</abbr></p>
            <blockquote cite = https://en.wikipedia.org/wiki/The_Legend_of_Zelda:_Breath_of_the_Wild> <i>Breath of the Wild</i> takes place at the end of the <i>Zelda</i> timeline in the kingdom of Hyrule.
                 10,000 years before the beginning of the game, the evil Calamity Ganon threatens Hyrule, 
                 but he is defeated by a princess with the blood of the goddess and with the help of her appointed knight.</blockquote>
                        
        </p>
        <pre>
            Here is a paragraph about Yink who's line breaks and spaces shall be preserved.
            dtilt ->
            fair1 dragdown ->
            dtilt ->
            up b
            Link<sup>2</sup>
        </pre>
        <p style="color:rgb(255, 99, 71)" title="Link no!">reddle me this princess</p>
        <img src='../images/lonk.jpg' alt='Excuse me princess' title = 'Excuse me princess'> <br> 
<!--Double quotes only matter if there is a single quote within-->
<!--id tag specifies a unique id for an element-->
        <hr>
        <ol>
            <li>Breath of the Wild</li>
            <li>Windwaker</li>
            <li>Twilight</li>
        </ol>

        <ul>
            <li>Lonlon Ranch</li>
            <li>Zora River</li>
            <li>Death Mountain</li>
        </ul>
        
        <button>Bomb Juggle</button>

        <address>
            <q>Written</q> by Jeremiah Lam <br>
            Spring 2020 <br>
        </address>


    </body>
</html>